@import "../../UIKit/variables";

.wrapper {
	position: relative;
	&:hover .primaryLabel:not(.disabled):not(.error) {
		color: $textBlack;
	}

	.hiddenInput {
		color: $defaultGrey;
		width: 300px;
		border-radius: 4px;
		height: 40px;
		display: block;
		padding: 0 8px;
		font-size: 14px;
		opacity: .85;
		cursor: pointer;
		&:hover {
			background: $menuItemHover;
		}
	}

	.btnWrapper {
		margin-top: -5px;
		text-align: right;

		button {
			width: 32px;
			height: 32px;
			background: $itemHover;
			border-radius: 3px;
			border: none;
			color: $defaultGrey;
			cursor: pointer;

			&:first-child {
				margin-right: 8px;
			}
			&:hover {
				background: $menuItemHover;
			}
		}
	}
}

.input {
	border: none;
	box-sizing: border-box;
	background-color: transparent;
	font-size: 14px;
	padding: 0.5em;
	padding-right: 0.2em;
	line-height: 1.5;
	color: $textBlack;
	width: 300px;
	&::placeholder {
		color: $textBlack;
	}
	&:focus {
		outline: none;
	}
	&[type="number"]::-webkit-inner-spin-button,
	&[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}

.darkLabel {
	color: $textBlack;

	display: block;
	margin-bottom: 0.4em;
}
.primaryLabel {
	color: $textBlack;
	display: block;
	margin-bottom: 0.4em;

	&Focus {
		color: $textBlack;
	}
}
.bordered {
	border-radius: 4px;
	border: 1px solid $gray;
	background-color: $white;
	&:hover {
		border-color: $textBlue;
	}
	&:focus {
		border-color: $textBlue;
	}
	&:disabled {
		color: $textBlack;
		border-color: $textBlue;
	}
	&Error {
		border-color: $textBlue;
		background-color: $gray;
		&:focus,
		&:hover {
			border-color: $textBlue;
		}
	}
	&Small {
		padding: 0.2em 0.5em;
	}
}
.underline {
	border-radius: 0;
	font-weight: bold;
	border-bottom: 1px solid $gray;
	&:hover {
		border-color: $gray;
	}
	&:focus {
		border-color: $gray;
	}
	&:disabled {
		color: $textBlack;
		border-color: $gray;
		&::placeholder {
			color: $gray;
		}
	}
	&Error {
		border-color: $gray;
		&:focus,
		&:hover {
			border-color: $gray;
		}
	}
}

.withIcon {
	padding-left: 2.3em;

	&:hover + .icon svg path {
		fill: $gray;
	}
	&:focus + .icon svg path {
		fill: $gray;
	}
	&:disabled + .icon svg path {
		fill: $gray;
	}
	&Error:hover + .icon svg path,
	&Error:focus + .icon svg path,
	&Error + .icon svg path {
		fill: $gray;
	}
}

.icon {
	position: absolute;
	left: 0.5em;
	top: 55%;
	transform: translateY(-50%);

	svg {
		path {
			fill: $gray;
		}
	}
}

.disabled {
	color: $textBlack;
	&:hover {
		color: $textBlack;
	}
}
.error {
	color: $textBlack;

	&Text {
		color: $textBlack;
		position: absolute;
		display: block;
		left: 0;
		top: 3.8em;
	}
}
