.formBody {
	background-color: #fff;
	width: 450px;
	padding: 36px 25px 40px;
	border: 1px solid #dadce0;
	box-sizing: border-box;
	border-radius: 8px;
}

.header1 {
	font-weight: normal;
	margin-bottom: 32px;
	text-align: center;
}

.textInfo {
	font-family: Roboto;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 40px;
}

.textConfirm {
	color: rgba(0, 0, 0, 0.85);
	font-family: Roboto;
	font-size: 14px;
	line-height: 18px;
}

.emailWrapper {
	margin-bottom: 20px;
}

.sendPasswordBtn {
	margin-bottom: 24px;
}

.goBackLink {
	text-align: center;
	& > a {
		font-family: Roboto;
		font-size: 14px;
		line-height: 16px;
		color: #42526E;
		text-decoration: none;
		&:hover {
			color: #0955C6;
		}
		&:active {
			color: #07449E;
		}
	}
}

