@import "../../UIKit/_variables";

.userPhotoWrap {
  position: relative;
  z-index: auto;
  width: 312px;
  height: 310px;
  margin-right: 170px;

  .hoverBlock {
    position: absolute;
    top: 61px;
    left: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 182px;
    height: 182px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;

    &::after {
      content: "";
      background: url("../../images/icons/pencil.svg");
      width: 29px;
      height: 30px;
    }

    &:hover,
    &:focus {
      opacity: 1 !important;
    }
  }

  img {
    width: 182px;
    height: 182px;
    border-radius: 6px;
    position: relative;
    top: 61px;
    left: 59px;
  }

  .dropdown {
    position: absolute;
    bottom: 0;
    left: calc(50%);
    background-color: #fff;
    width: 135px;
    padding: 4px 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    z-index: 2;

    button {
      background-color: #fff;
      display: block;
      padding: 6px 8px 12px 8px;
      color: #000;
      opacity: 0.85;
      cursor: pointer;
      font-size: 14px;
      border: none;
      width: 100%;
      text-align: left;
      &:hover {
        background-color: $itemHover;
      }
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 48px;
    left: 29px;
    width: 244px;
    height: 211px;
    background: #f5f5f5;
    transform: rotate(-35deg);
    border-radius: 2px;
    z-index: -1;
  }
}
